*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  /* 1 rem === 10px */
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

$white: #fff;
$yellow: #fce38a;
$red: #f38181;
$grey: #999;
$green: #95e1d3;

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.section--padding {
  padding: 80px 0 20px;
}

.bg--gradient {
  background-image: linear-gradient(-180deg, $red, $yellow);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//----------------------//

.header {
  height: 100vh;
  background: url("../../images/Layer 15.jpg") no-repeat center;
  position: relative;
}

.header__top-wrapper {
  display: flex;
  position: relative;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  margin: 0 auto;
  padding: 20px;
  opacity: 0.9;
}

.logo-content {
  font-size: 3rem;
  color: $white;
  font-weight: 900;
}

.header-nav {
  max-width: 620px;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

.nav-list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  padding: 10px 0;

  &:hover {
    color: $yellow;
    border-bottom: 3px solid $yellow;
  }
}

.header__content-wrapper {
  position: absolute;
  @extend .flex-center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  @extend .bg--gradient;
  opacity: 0.9;
}

.header__slogan-wrapper {
  @extend .flex-center;
  max-width: 850px;
  flex-direction: column;
  text-align: center;
  color: $white;
}

.header__subslogan {
  font-size: 7.45vmin;
  font-family: "Kaushan Script", cursive;
}

.header__slogan {
  font-size: 15.9vmin;
  text-transform: uppercase;
  margin: 20px 0 40px;
  line-height: 15vmin;

  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 70px auto 0;
    background: $white;
  }
}

.header__btn {
  width: 160px;
  height: 40px;
  background: inherit;
  border: 3px solid $white;
  font-size: 14px;
  text-transform: uppercase;
  color: $white;
  font-weight: 700;
  margin-bottom: 20px;
}

.header__slider-wrapper {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0 20px;
}

.header__slider-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: $white;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.9;
}

.slider-list__element {
  flex: 1;
  padding: 20px 20px 20px 0;
  margin: 0 10px;
  border-top: 3px solid $white;
}

.slider-list__number {
  font-size: 22px;
  font-weight: 700;
  margin-right: 5px;
}

//----- ABOUT -----//

.section-header__wrapper {
  @extend .flex-center;
  max-width: 960px;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.section-subtitle {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
}

.section-title {
  text-transform: uppercase;
  font-size: 30px;
  margin: 10px 0 20px;

  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 0;
    background: $red;
  }
}

.section-text {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  color: $grey;
  font-size: 15px;
  line-height: 24px;
}

.about-gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  padding: 60px 0 110px;
}

.about-gallery__element {
  position: relative;
  transition: 0.8s;

  &:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0 0 $green;
    cursor: pointer;

    .about-gallery__layer {
      opacity: 0.9;
    }
  }
}

.about-gallery__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
}

.about-gallery__layer {
  position: absolute;
  @extend .flex-center;
  @extend .bg--gradient;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: $white;
  opacity: 0;
  transition: 0.5s;

  .icon-users,
  .icon-headphones,
  .icon-leaf {
    width: 1.8em;
    height: 1.8em;
    margin-bottom: 5px;
  }
}

.about-layer__text {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

//--- FACTS ---//

.facts {
  background-color: $green;
}

.facts-content__wrapper {
  display: flex;
  min-height: 230px;
  align-items: center;
  flex-wrap: wrap;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  color: $white;
}

.facts-content__element {
  flex: 1;
  @extend .flex-center;
  min-width: 230px;
  flex-direction: column;
  align-self: stretch;
  padding: 40px 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
  text-align: center;

  &:nth-last-of-type(1) {
    border-right: none;
  }
}

.facts-element__number {
  width: 100%;
  font-size: 70px;
  font-weight: 700;
}

.facts-element__text {
  text-transform: uppercase;
  margin-top: 5px;
}

//--- SERVICE ---//

.service-content__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  padding: 20px 0 40px;
}

.service-content__element {
  display: flex;
  padding: 40px 20px;

  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(3) {
    border-bottom: 1px solid rgba(151, 151, 151, 0.4);
  }
}

.service-content__text {
  padding: 0 20px;
}

.service-content__title {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.service-content__paragraph {
  @extend .section-text;
  font-size: 14px;
  margin-top: 10px;
}

.icon-alarm,
.icon-image,
.icon-display,
.icon-file-text2,
.icon-home,
.icon-codepen,
.icon-circle-down,
.icon-equalizer2,
.icon-target {
  width: 30px;
  height: 30px;
  color: $green;
  margin-top: 5px;
}

//--- FEATURE ---//

.feature {
  position: relative;
  min-height: 850px;
  height: 100%;
  background: url("../../images/Layer\ 45.jpg") no-repeat;
  background-position: 93% 32%;
  margin-bottom: 50px;
}

.feature-overflow__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.feature__tablet-img,
.feature__phone-img {
  position: absolute;
}

.feature__tablet-img {
  width: 51vmin;
  top: 32%;
  left: 36%;
}

.feature__phone-img {
  width: 29.5vmin;
  left: 55%;
  top: 55.5%;
}

//--- DESCRIPTION ---//

.description-content__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(564px, 1fr));
  grid-column-gap: 30px;
  margin: 60px 0 80px;
}

.description-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
}

.description-modal__wrapper {
  display: flex;
  flex-direction: column;
}

.modal-element__header {
  display: flex;
  height: 100%;
  align-items: center;
  border: 1px solid rgba(151, 151, 151, 0.4);
  .icon {
    margin-top: 0;
    margin: 0 20px;
    cursor: pointer;
  }
  .icon-circle-down {
    width: 20px;
    height: 20px;
    margin-left: auto;
    color: $grey;
  }
}

.modal-header__title {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 0;
}

.modal-element-content {
  max-height: 198px;
  overflow-y: scroll;
  display: none;
  border-left: 1px solid rgba(151, 151, 151, 0.4);
  border-right: 1px solid rgba(151, 151, 151, 0.4);

  &::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(151, 151, 151, 0.4);
    margin: 5px;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $green;
    border-radius: 20px;
  }
}

.modal-element-text {
  font-size: 15;
  color: $grey;
  font-style: italic;
  line-height: 24px;
  padding: 20px;
  margin: 0;
}
