*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  /* 1 rem === 10px */
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

$white: #fff;
$yellow: #fce38a;
$red: #f38181;
$grey: #999;

.container {
  max-width: 1200px;
  margin: auto;
}

.section--padding {
  padding: 80px 20px;
}

.header {
  height: 100vh;
  background: url("../../images/Layer 15.jpg") no-repeat center;
  position: relative;
}

.header__top-wrapper {
  display: flex;
  position: relative;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  margin: 0 auto;
  padding: 20px;
  opacity: 0.9;
}

.logo-content {
  font-size: 3rem;
  color: $white;
  font-weight: 900;
}

.header-nav {
  max-width: 620px;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

.nav-list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  padding: 10px 0;

  &:hover {
    color: $yellow;
    border-bottom: 3px solid $yellow;
  }
}

.header__content-wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(-180deg, $red, $yellow);
  opacity: 0.9;
}

.header__slogan-wrapper {
  display: flex;
  max-width: 850px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $white;
}

.header__subslogan {
  font-size: 7.2rem;
  font-family: "Kaushan Script", cursive;
}

.header__slogan {
  font-size: 15rem;
  text-transform: uppercase;
  margin: 20px 0 40px;
  line-height: 140px;

  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 70px auto 0;
    background: $white;
  }
}

.header__btn {
  width: 160px;
  height: 40px;
  background: inherit;
  border: 3px solid $white;
  font-size: 14px;
  text-transform: uppercase;
  color: $white;
  font-weight: 700;
  margin-bottom: 20px;
}

.header__slider-wrapper {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0 20px;
}

.header__slider-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: $white;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.9;
}

.slider-list__element {
  flex: 1;
  padding: 20px 20px 20px 0;
  margin: 0 10px;
  border-top: 3px solid $white;
}

.slider-list__number {
  font-size: 22px;
  font-weight: 700;
  margin-right: 5px;
}

//----- ABOUT -----//

.section-header__wrapper {
  display: flex;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.section-subtitle {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
}

.section-title {
  text-transform: uppercase;
  font-size: 30px;
  margin: 10px 0 20px;

  &::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 0;
    background: $red;
  }
}

.section-text {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  color: $grey;
  font-size: 15px;
  line-height: 24px;
}